    <h2>List EJS</h2>

    <!-- <div>
      <pre><code>
        <%= JSON.stringify(users, null,2) %>
      </code></pre>
    </div> -->
    <!-- <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
          <tr onClick="gotoDetail(<%= user.id %>)">
            <td><%= user.id %></td>
            <td><%= user.firstName %></td>
            <td><%= user.lastName %></td>
            <td><%= user.email %></td>
          </tr>
        <% }); %>
    
      </tbody>
    </table> -->
    <% users.forEach(function(user, idx){ %>
        <div><%= user.firstName %></div>
    <% }); %>
    
<!-- <script>
  function gotoDetail(id) {
    console.log(id);
    window.location.href = `/detail/${id}`
  }
</script> -->